<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xác Thực OTP</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
    <h1>Nhập mật khẩu mới</h1>
    <form th:action="@{/forgotPassword/changePassword}" method="post">
        <input type="text" th:value="${param.email}" name="email" />
        
        <label for="password">Password: </label>
        <input type="password" id="password" name="password" required>
        
        <label for="repeatPassword">Confirm Password: </label>
        <input type="password" id="repeatPassword" name="repeatPassword" required>

        <button type="submit">OK</button>
    </form>
    <p><a th:href="@{/login}">Quay lại đăng nhập</a></p>
    <p style="color:red;"><span th:text="*{error}"></span></p>
</body>
</html>
